In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Downloads/Uber Request Data (2).csv')
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

In [5]:
df['Request timestamp'] = pd.to_datetime(
    df['Request timestamp'],
    errors='coerce',
    dayfirst=True
)

df['Drop timestamp'] = pd.to_datetime(
    df['Drop timestamp'],
    errors='coerce',
    dayfirst=True
)

In [6]:
df.isna().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp    4071
Drop timestamp       5595
dtype: int64

In [7]:
df['Status'] = df['Status'].str.strip()
df['Status'].unique()

array(['Trip Completed', 'Cancelled', 'No Cars Available'], dtype=object)

In [8]:
df['Pickup point'] = df['Pickup point'].str.strip()
df['Pickup point'].unique()

array(['Airport', 'City'], dtype=object)

In [9]:
df.duplicated(subset='Request id').sum()

np.int64(0)

In [10]:
df = df.drop_duplicates(subset='Request id')

In [11]:
df['Hour_of_Day'] = df['Request timestamp'].dt.hour

In [12]:
df['Day_of_Week'] = df['Request timestamp'].dt.day_name()

In [13]:
# Completed trips should have Drop timestamp
df.loc[
    (df['Status'] == 'Trip Completed') & (df['Drop timestamp'].isna())
]

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Hour_of_Day,Day_of_Week
4,3112,City,1.0,Trip Completed,NaT,NaT,NaN,NaN
5,3879,Airport,1.0,Trip Completed,NaT,NaT,NaN,NaN
6,4270,Airport,1.0,Trip Completed,NaT,NaT,NaN,NaN
7,5510,Airport,1.0,Trip Completed,NaT,NaT,NaN,NaN
8,6248,City,1.0,Trip Completed,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...
2825,6304,City,299.0,Trip Completed,NaT,NaT,NaN,NaN
2827,2924,City,300.0,Trip Completed,NaT,NaT,NaN,NaN
2828,3324,Airport,300.0,Trip Completed,NaT,NaT,NaN,NaN
2829,3935,Airport,300.0,Trip Completed,NaT,NaT,NaN,NaN
2830,5844,Airport,300.0,Trip Completed,NaT,NaT,NaN,NaN

In [14]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  2674 non-null   datetime64[ns]
 5   Drop timestamp     1150 non-null   datetime64[ns]
 6   Hour_of_Day        2674 non-null   float64
 7   Day_of_Week        2674 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 421.7+ KB

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp    4071
Drop timestamp       5595
Hour_of_Day          4071
Day_of_Week          4071
dtype: int64

In [17]:
df.to_csv("Uber_Final_Cleaned_Data.csv", index=False)